<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Todo </title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
</head>
<body>
<h1> Edit todo: </h1>

<form action="#" th:object="${editedTodo}" th:action="@{/todo/edit}" method="post">

    <input type="hidden" name="todoId" th:value="${todoId}"/></p>

    <p><label for="title"> Todo description: </label>
        <input type="text" id="title" th:field="*{title}"/></p>

    <div><label for="done"> Done: </label>
        <input id="done" type="checkbox" th:field="*{done}" /></div>

    <div><label for="urgent"> Urgent: </label>
        <input id="urgent" type="checkbox" th:value="*{urgent}" th:field="*{urgent}" /></div>

    <label for="assignee"> Select assignee: </label>
    <div><select id="assignee" th:name="selectedAssigneeId">
        <option th:each="currentAssignee : ${assigneeList}"
                th:value="${currentAssignee.id}" th:text="${currentAssignee.name}"></option>
    </select></div>

    <p><label for="dueDate"> Due date: </label>
        <input id="dueDate" type="datetime-local" th:field="*{dueDate}"/></p>

    <p><input type="submit" value="Edit"/></p>
</form>

<p><a href="/list"> Cancel </a></p>

</body>
</html>