<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Todo2 </title>
    <link rel="stylesheet"/>
    <meta charset="utf-8" />
</head>
<body>
<h1>Search results: </h1>

<span th:if="${errorflag}" style="color: red"> Todo cannot be found. </span>
<span th:unless="${errorflag}">
<table style="width:50%; height:80px; font-size: large">
    <tr style="background-color:teal">
        <th>No</th>
        <th>Title</th>
        <th>Done</th>
        <th>Urgent</th>
        <th>Date of creation</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="currentTodo : ${searchedTodoList}" style="background-color:lightgray" align="center">
        <td th:text="${currentTodoStat.index+1}"></td>
        <td><a th:href="@{/todo/todopage(id=${currentTodo.id})}"><span th:text="${currentTodo.title}"></span></a></td>
        <td th:text="${currentTodo.done}"></td>
        <td th:text="${currentTodo.urgent}"></td>
        <td th:text="${currentTodo.timestamp}"></td>
        <td><a th:href="@{/todo/delete(id=${currentTodo.id})}" > delete </a></td>
        <td><a th:href="@{/todo/edit(id=${currentTodo.id})}" > edit </a></td>
    </tr>
</table>
</span>

<p><a href="/list"> Cancel </a></p>

</body>
</html>