<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Useful utilites </title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
</head>
<body>

<h1> List of useful utilities </h1>


<ul>
    <li> <a href="/useful/colored" > Colored Background </a> </li>
    <li> <a href="/useful/email?email=isthis.valid"> Email validator </a> </li>
    <li> <a href="/useful/encode?text=example&number=1"> Caesar encoder </a> </li>
    <li> <a href="/useful/decode?text=example&number=1"> Caesar decoder </a> </li>
</ul>

</body>
</html>